<!DOCTYPE html>
<html lang="en-US" class="loaded">
    <head>
        <title>Admin login • passion.com</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/css/3p.min-1dfaabdd.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/signin/css/signin.min-74b33971.css">

    <script>
            function myFunction() {
                var x = document.querySelector("#passwordlabel");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
    </script>

<style>

    .c:hover{
        opacity: 0.7;
    }
    
    </style>

</head>

<body  style="background-color: rgb(172, 5, 94); padding-top: 0px; background-image: url({{  url_for('static', filename='back_ground1.png') }});">
    <div>
        <img src="passion-pngc-01.png" alt="" width="200px" height="65px">
    </div>
        <div class="row" style="margin: 0px;">
            <div class="panel" style="padding-bottom: 30px;">
                
            
                <form action="" method="POST">
                    <div style="font-size: 35px; font-family: sans-serif; margin-bottom: 10px" >Admin login:</div>
                        {% if error %}
                        <div class="alert alert-danger"><span style="font-size: 15px;">{{ error }}</span></div>
                        {% endif %}
                    <label style="font-size: 18px">Phone</label>
                    <input type="number" name="phone" class="form-control" >
                    <label style="font-size: 18px">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordlabel">
                    <input type="checkbox" onclick="myFunction()"><span style="font-size: 16px; font-family: sans-serif;">Show Password</span> 
                    <button type="submit"  class="btn btn-block btn-lg btn-primary " style=" margin-top: 5px; background-color: rgb(172, 5, 94); border-color: rgb(172, 5, 94); margin-bottom: 10px">Continue</button>
                    <h3 style="color: rgb(158,31,99); margin: 0;">
                        <b>Contact us</b>
                        <a href="https://www.facebook.com/passiondottraining" target="_blank"><img src="{{  url_for('static', filename='/hh.png') }}" alt="facebook" class="c" width="25px" height="25px"></a>
                        <a href="http://passionteam.org/" target="_blank"><img src="{{  url_for('static', filename='/web_icon.png') }}" alt="google" class="c" width="25px" height="25px"></a>
                    </h3>
                </form>
            </div>
        </div>
</body>
</html>