<link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/css/3p.min-1dfaabdd.css">
<link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/signin/css/signin.min-74b33971.css">

<script>
        function myFunction() {
            var password = document.querySelector("#passwordlabel");
            var confirm = document.querySelector("#confirmlabel");

            if (password.type === "password") {
                password.type = "text";
                confirm.type = "text";
            } else {
                password.type = "password";
                confirm.type = "password";
            }
        }
</script>

<style>
.c:hover{
    opacity: 0.7;
}

.header{
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
</style>

<style>
    body{
        background-color: rgb(172, 5, 94); 
        padding: 6px; 
        background-image: url(static/back_ground1.png);
    }

    label{
        font-size: 18px;
    }

    span{
        font-size: 15px;
        font-family: sans-serif;
    }
</style>