<html>
    <head>
        <title>Test result</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <style>

                .c:hover{
                    opacity: 0.7;
                }
                
                </style>

    </head>

    <body style="background-color: rgb(158,31,99)">
            <div class="container" style=" padding: 5px; padding-left: 20px;">

                <table class="table"  style="margin-bottom: 0px; background-color: rgb(235, 235, 235); box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50),0 2px 10px 0 rgba(0,0,0,0.50)">
                        
                    

                </table>

                {% for test in range(tests| length) %}
                <table class="table table-striped"  style=" margin-bottom: 30px; background-color: rgb(235, 235, 235); box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50),0 2px 10px 0 rgba(0,0,0,0.50)">

                        {% if test == 0 %}

                            {% if admin == '1' %}
                            <tr>
                                <th>Give pass</th>
                                
                                    {% if user.p_pre_a1 == 1 %}
                                    <th><a href="/p_pre_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                                    {% else %}
                                    <th><a href="/p_pre_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                                    {% endif %}
                                

                                    {% if user.p_a1 == 1 %}
                                    <th><a href="/p_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                                    {% else %}
                                    <th><a href="/p_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                                    {% endif %}

                                    {% if user.p_a2 == 1 %}
                                    <th><a href="/p_a2/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                                    {% else %}
                                    <th><a href="/p_a2/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                                    {% endif %}

                                    {% if user.p_b1 == 1 %}
                                    <th><a href="/p_b1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                                    {% else %}
                                    <th><a href="/p_b1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                                    {% endif %}
                                    <td></td>
                            </tr>
                            {% endif %}
                        {% endif %}

                            <tr>
                                <th></th>
                                <th>Pre_A1</th>
                                <th>A1</th>
                                <th>A2</th>
                                <th>B1</th>
                                <th>B2</th>
                            </tr>
                            
                            <tr>
                                <th scope="row">Listening</th>
                                <td>{{tests[test].lpre_a1}}</td>
                                <td>{{tests[test].la1}}</td>
                                <td>{{tests[test].la2}}</td>
                                <td>{{tests[test].lb1}}</td>
                                <td>{{tests[test].lb2}}</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">Reading</th>
                                <td>{{tests[test].rpre_a1}}</td>
                                <td>{{tests[test].ra1}}</td>
                                <td>{{tests[test].ra2}}</td>
                                <td>{{tests[test].rb1}}</td>
                                <td>{{tests[test].rb2}}</td>
                            </tr>
        
                            <tr>
                                <th scope="row">Vocabulary</th>
                                <td>{{tests[test].gpre_a1}} <b>(Grammar)</b></td>
                                <td>{{tests[test].va1}}</td>
                                <td>{{tests[test].va2}}</td>
                                <td>{{tests[test].phb1}} <b>(phonetics)</b></td>
                                <td>{{tests[test].vb2}}</td>
                            </tr>
        
                            <tr>
                                <th scope="row">Functional language</th>
                                <td>{{tests[test].fpre_a1}}</td>
                                <td>{{tests[test].fa1}}</td>
                                <td>{{tests[test].fa2}}</td>
                                <td>{{tests[test].fb1}}</td>
                                <td>{{tests[test].fb2}}</td>
                            </tr>
        
                            <tr>
                                <th scope="row">Grammar</th>
                                <td>{{tests[test].g2pre_a1}}</td>
                                <td>{{tests[test].ga1}}</td>
                                <td>{{tests[test].ga2}}</td>
                                <td>{{tests[test].gb1}}</td>
                                <td>{{tests[test].gb2}}</td>
                            </tr>
        
                            <tr>
                                <th scope="row">Total</th>
                                <td>{{tests[test].pre_a1}}</td>
                                <td>{{tests[test].a1}}</td>
                                <td>{{tests[test].a2}}</td>
                                <td>{{tests[test].b1}}</td>
                                <td>{{tests[test].b2}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Date</th>
                                <td><b>{{tests[test].date}}</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            
                        </table>
                    {% endfor %}

                    
                <table class="table table-striped" style=" margin-top: 15px; margin-bottom: 30px; background-color: rgb(235, 235, 235);  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.80),0 2px 10px 0 rgba(0,0,0,0.80)">
                    {% if not tests %}
                    <tr>
                        {% if admin == '1' %}
                        <th>Give pass</th>
                        
                            {% if user.p_pre_a1 == 1 %}
                            <th><a href="/p_pre_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                            {% else %}
                            <th><a href="/p_pre_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                            {% endif %}
                        

                            {% if user.p_a1 == 1 %}
                            <th><a href="/p_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                            {% else %}
                            <th><a href="/p_a1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                            {% endif %}

                            {% if user.p_a2 == 1 %}
                            <th><a href="/p_a2/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                            {% else %}
                            <th><a href="/p_a2/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                            {% endif %}

                            {% if user.p_b1 == 1 %}
                            <th><a href="/p_b1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #4CAF50; color: white;">Passed</button></a></th>
                            {% else %}
                            <th><a href="/p_b1/{{ user.id }}/"><button type="button" class="btn btn-default " style="background-color: #d43f3a; color: white;">Pass</button></a></th>
                            {% endif %}
                            <td></td>
                    </tr>
                    {% endif %}

                    {% endif %}
                    
                        <tr>
                            <th></th>
                            <th>Pre_A1</th>
                            <th>A1</th>
                            <th>A2</th>
                            <th>B1</th>
                            <th>B2</th>
                            <!-- <th>Precentage</th> -->
                            
                        </tr>
                        
                        <tr>
                            <th scope="row">Listening</th>
                            <td>{{user.lpre_a1}}</td>
                            <td>{{user.la1}}</td>
                            <td>{{user.la2}}</td>
                            <td>{{user.lb1}}</td>
                            <td>{{user.lb2}}</td>
                        </tr>
                        
                        <tr>
                            <th scope="row">Reading</th>
                            <td>{{user.rpre_a1}}</td>
                            <td>{{user.ra1}}</td>
                            <td>{{user.ra2}}</td>
                            <td>{{user.rb1}}</td>
                            <td>{{user.rb2}}</td>
                        </tr>
    
                        <tr>
                            <th scope="row">Vocabulary</th>
                            <td>{{user.gpre_a1}} <b>(Grammar)</b></td>
                            <td>{{user.va1}}</td>
                            <td>{{user.va2}}</td>
                            <td>{{user.phb1}} <b>(phonetics)</b></td>
                            <td>{{user.vb2}}</td>
                        </tr>
    
                        <tr>
                            <th scope="row">Functional language</th>
                            <td>{{user.fpre_a1}}</td>
                            <td>{{user.fa1}}</td>
                            <td>{{user.fa2}}</td>
                            <td>{{user.fb1}}</td>
                            <td>{{user.fb2}}</td>
                        </tr>
    
                        <tr>
                            <th scope="row">Grammar</th>
                            <td>{{user.g2pre_a1}}</td>
                            <td>{{user.ga1}}</td>
                            <td>{{user.ga2}}</td>
                            <td>{{user.gb1}}</td>
                            <td>{{user.gb2}}</td>
                        </tr>
    
                        <tr>
                            <th scope="row">Total</th>
                            <td>{{user.pre_a1}}</td>
                            <td>{{user.a1}}</td>
                            <td>{{user.a2}}</td>
                            <td>{{user.b1}}</td>
                            <td>{{user.b2}}</td>
                        </tr>

                        <tr>
                            {% if user.lpre_a1 %}
                            <th scope="row">Date</th>
                            {% else %}
                            <th scope="row">Registration date</th>
                            {% endif %}
                            <td><b>{{user.date}}</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                    </table>
            

            </div>
            {% if admin != '1' %}
                <h3 style="margin: 0; text-align: center; color: #ddd; background-color: rgb(119, 31, 78); margin-bottom: 20px;">
                    <b>Contact us</b>
                    <a href="https://www.facebook.com/passiondottraining" target="_blank"><img src="{{  url_for('static', filename='/hh.png') }}" alt="facebook" class="c" width="25px" height="25px"></a>
                    <a href="http://passionteam.org/" target="_blank"><img src="{{  url_for('static', filename='/web_icon.png') }}" alt="google" class="c" width="25px" height="25px"></a>
                </h3>
            {% endif %}
    </body>
</html>
