<html>
    <head>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script>
            if(document.cookie == 'got_into_the_page'){
                window.location = 'login';
            }else{
                document.cookie = 'got_into_the_page';
            }
        </script>

        <title>{% if start %}{{start}} the test{% else %}Go to the next stage{% endif %}</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/css/3p.min-1dfaabdd.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/signin/css/signin.min-74b33971.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/css/3p.min-1dfaabdd.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/signin/css/signin.min-74b33971.css">

    </head>
    <body  style="background-color: rgb(172, 5, 94);">

            <div class="row" style="margin: 0px;">
                <div class="panel col-xs-12" style=" box-shadow: 0 2px 4px 0 rgba(0,0,0,0.80), 0 2px 10px 0 rgba(0,0,0,0.80)">
                    <form action="" method="POST" style="text-align: center;">
                        <div style="font-size: 35px; font-family: sans-serif; margin-bottom: 10px; margin-top: 0px;" >{% if start %}{{start}}:{% else %}Continue:{% endif %}</div>

                        <button class="btn btn-default" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.80);"><span>{{text}}</span></button>
                    </form>
                </div>
            </div>

            <script>
                    $(document).ready(function() {
                    function disablePrev() { window.history.forward() }
                    window.onload = disablePrev();
                    window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
                    });
            </script>

    </body>
</html>