<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Sign In • passion.com</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/css/3p.min-1dfaabdd.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.lynda.com/static/signin/css/signin.min-74b33971.css">

    <script>
        function myFunction() {
            var x = document.querySelector("#passwordlabel");
            var z = document.querySelector("#confirmlabel");
            if (x.type === "password") {
                x.type = "text";
                z.type = "text";
            } else {
                x.type = "password";
                z.type = "password";
            }
        }
</script>


</style>
</head>

<body  style="background-color: rgb(172, 5, 94); padding-top: 0px; background-image: url({{  url_for('static', filename='back_ground1.png') }});">
    <div>
        <img src="{{  url_for('static', filename='passion-pngc-01.png') }}" alt="passion logo" width="200px" height="65px">
    </div>

        <div class="row" style="margin: 0px;">
            <div class="panel col-xs-12" style="padding-bottom: 30px;">

                
            
                <form action="" method="POST">
                    <div style="font-size: 35px; font-family: sans-serif; margin-bottom: 10px" >Reset password:</div>
                        {% if error %}
                        <div class="alert alert-danger"><span style="font-size: 15px;">{{ error }}</span></div>
                        {% endif %}
                    <label style="font-size: 18px">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordlabel">
                    <label style="font-size: 18px">Confirm</label>
                    <input type="password" name="confirm" class="form-control" id="confirmlabel">
                    <input type="checkbox" onclick="myFunction()"><span style="font-size: 16px; font-family: sans-serif;">Show Password</span> 
                    <button type="submit"  class="btn btn-block btn-lg btn-primary " style=" margin-top: 5px; background-color: rgb(158,31,99); border-color: rgb(158,31,99); margin-bottom: 10px">Continue</button>
                   
                </form>
            </div>
        </div>
</body>
</html>